.container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	position: relative;
  }
  
  h1 {
	margin-bottom: 20px;
  }
  
  input[type="number"] {
	width: 60px;
	margin-right: 10px;
  }
  
  #card-container {
	margin-top: 30px;
  }
  
  .card {
	width: 80px;
	height: 120px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	position: absolute;
	top: 30;
	transform-origin: top center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: whitesmoke;
	background-size: contain;
  }
  